html {
    font-family: monospace;
    margin: 0;

}
body {
    background-color: #252525;
}
h1 {
    border: 1px solid black;
    padding:30px;
    margin-top: 0;
    text-align: center;
    text-decoration: line-through;
    background-color: brown;
    color: aqua;
    letter-spacing: 2px;
}
p {
    font-size: 18px;
    text-align: center;
    color: #fff;

}
h2 {
    text-align: center;
    color: #fff;
    padding: 5px;
}
.photos {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}
#left,#right {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid black;
}
#left:hover,#right:hover {
    cursor: pointer;
}
.or {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 30px;
}       